* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid black;
}

h2 {
    position: absolute;
    top: 0.4em;
    left: 1em;
}

header section{
    display: inline-block;   
}

nav {
    position: absolute;
    right: 1.5em;
}

ul li {
    display: inline-block;
    position: relative;
}

h1 {
    font-size: 3em;;
    padding-top: 4em;  
    text-align: center;
}

.undertitle {
    text-align: center;
    padding-bottom: 6em;  
}

.column {
    float: left;
    width: 33.33%;
    padding: 1em;
    border: 0.1em solid #000000;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}